/* Εισαγωγή γραμματοσειράς - Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Αρχικοποίηση CSS. Βασικά στοιχία μορφοποίησης - Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Μεταβλητές - Variables */
:root {
  --primary: #002a5c;
  --primary-dark: #001e42;
  --secondary: #35567d;
  --text-light: #e9ecef;
  --text-dark: #212529;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.4;
  color: var(--text-dark);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.6rem;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--primary);
  width: 90%;
  font-size: 1.6rem;
}

td,
th {
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--primary);
}

.left {
  text-align: left;
}

.white {
  background-color: white;
  color: var(--text-dark);
}

.width-5 {
  width: 5%;
}
.width-10 {
  width: 10%;
}

th {
  background-color: #f2f2f2;
}

.disabled{
  pointer-events: none;
  background-color: rgb(151, 150, 150);
  color: #001e42;
}

.passed {
  pointer-events: none;
  background-color: rgb(4, 128, 10);
  color: #f1f1f1;
}

.center {
  width:100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.middle {

  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */
.btn {
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}



.btn-outline {
  border: 1px solid var(--text-light);
  padding: 8px 16px;
  font-size: 1.6rem;
  color: var(--text-light);
}

.btn-outline:hover {
  background-color: var(--text-light);
  color: var(--primary);
}

.btn-outline-green {
  border: 1px solid green;
  padding: 4px 8px;
  font-size: 1.4rem;
  color: green;
}

.btn-outline-green:hover {
  background-color: green;
  color: white;
}

.btn-outline-red {
  border: 1px solid red;
  padding: 4px 8px;
  font-size: 1.4rem;
  color: red;
}

.btn-outline-red:hover {
  background-color: red;
  color: var(--text-light);
}

.btn-dark {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--text-light);
  padding: 8px 16px;
  font-size: 1.6rem;
}

.btn-dark:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
}

.btn-dark-outline {
  background-color:  transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 8px 16px;
  font-size: 1.6rem;
}

.btn-dark-outline:hover {
  border: 1px solid var(--primary);
  color: var(--text-light);
  background-color: var(--primary);
}

.btn-light {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--text-light);
  padding: 4px 8px;
  font-size: 1.4rem;
}

.btn-light:hover {
  background-color: var(--text-light);
  color: var(--primary);
}

.btn-small {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--text-light);
  padding: 3px 6px;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.btn-small:hover{
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
}

.btn-wide {
  width: 100%;
}

.exit {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}



/* Κεφαλίδα - Header */
.header {
  background-color: var(--primary);
  color: var(--text-light);
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 10rem;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-weight: 300;
  font-size: 1.8rem;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--primary);
  color: var(--text-light);
  padding: 1rem;
  margin-bottom: 1rem;
}

.header__user {
  display: flex;
  flex-direction: column;

}

.header__name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.header__image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Μενού Πλοηγησης - NavBar */

.nav {
  background-color: var(--primary);
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  background-color: var(--primary-dark);
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav__item + .nav__item {
  margin-left: 3px;
}

.nav__item:hover,
.active {
  background-color: var(--secondary);
}

.nav__link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover ul {
  visibility: visible;
}

.dropdown ul {
  visibility: hidden;
  list-style: none;
  position: absolute;
  left: 0;
  text-align: center;
  min-width: 38rem;
  z-index: 1;
  background-color: var(--primary-dark);
}

.dropdown a {
  display: block;
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.dropdown ul li {
  padding: 12px 16px;
}

.dropdown ul li:hover {
  width: 100%;
  background-color: var(--secondary);
}

/* Main */
.main {
  padding: 2rem 4rem;
}

.page-title {
  font-size: 2rem;
  color: var(--primary-dark);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
}

.errorpage__title {
  font-size: 2rem;
  color: red;
  margin-bottom: 4rem;
}

.errorpage__error {
  font-size: 1.6rem;
  color: var(--primary-dark);
  margin-bottom: 4rem;
}

/******* Αρχική Σελίδα - Index Page ******/

.card {
  max-width: 85%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary);
  border-radius: 5px;
  margin-bottom: 4rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.card__image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-right: 2rem;
}

.card__title {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-dark);
  cursor: pointer;
}

.card__title:hover {
  text-decoration: underline;
}

.wrap {
  text-align: right;
  margin-right: 2rem;
}

.card__text {
  font-size: 1.4rem;
  margin-top: 2rem;
}

/* Προσωπικό */
.list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 2rem;
}

.list:last-child {
  border-bottom: none;
}

.list img {
  width: 10rem;
  height: 15rem;
  object-fit: cover;
}

.list p {
  flex-basis: 20rem;
}

/* Κανονισμός Σπουδών */
.regulation {
  width: 90%;
  margin-bottom: 2rem;
}

/* Signin Page - Είσοδος */
.form__container {
  width: 30%;
  margin: 4rem auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.form__header {
  padding: 2rem 4rem;
  text-align: center;
  background-color: var(--primary);
  color: var(--text-light);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.form__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.form {
  padding: 2rem 4rem;
}

.form_input {
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid var(--primary);
  background: transparent;
  margin-bottom: 2rem;
  height: 45px;
}


.form__demo {
  margin: 0 auto;
  width: 35%;
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.form__demo span {
  font-weight: bold;
}

.form__textearea {
  height: 12rem;
}

.help-block {
  color: red;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: 8px;
}

.help {
  color: red;
  width: 100%;
  font-size: 1.4rem;
  padding-top: 8px;
}

label,
.checkbox__label {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-left: 5px;
}

input[type='checkbox'] {
  margin: 2rem 0;
}

/* Όλες οι ανακοινώσεις - All Posts */

.posts {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
}

.post {
  width: 300px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.post__image {
  margin-bottom: 2rem;
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.post__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
}

.post__title:hover {
  text-decoration: underline;
}

.post__text {
  font-size: 1.4rem;
  text-align: justify;
}

/* Single post Page */

.single-post {
  width: 80%;
  margin: 2rem auto;
}

.single__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 4rem;
  text-align: center;
}

.single__image {
  height: 25rem;
  width: 50rem;
  object-fit: cover;
  margin-bottom: 4rem;
}

.single__text {
  margin-bottom: 2rem;
}

.single-post a {
  margin-top: 2rem;
}
/* Υποσέλιδο - Footer */
.footer {
  margin-top: auto;
  background-color: var(--primary);
  color: var(--text-light);
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  text-align: center;
}

.contact h3 {
  font-size: 1.4rem;
}

.contact p {
  font-size: 1.2rem;
}

.info a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  padding-bottom: 3px;
}

.info a:hover {
  border-bottom: 1px solid var(--text-light);
}

.info span {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 5px;
}

/* Dashboard */

.dashboard {
  display: flex;
  justify-content: space-between;
  height: 100%;

}

.dashboard__aside {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 1rem 2rem; */
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.dashboard__aside img {
  align-self: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1rem 0;
}

.aside__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.aside__info p {
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
}

.aside__info span {
  color: var(--primary-dark);
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard__link {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  /* background-color: var(--primary-dark); */
  color: var(--primary-dark);
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dashboard__link:hover {
  background-color: var(--secondary);
  color: var(--text-light);
}

.link__active {
  background-color: var(--secondary);
  color: var(--text-light);
}

.dashboard__link img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 5px;
  border-radius: initial;
}

.dashboard__main {
  flex-basis: 83%;
  /* border: 1px solid blue; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.dashboard__form {
  justify-self: center;
  flex-basis: 85%;
}

.dashboard__xml {
  flex-basis: 83%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dashboard__buttons {
  width: 83%;
}

.form_dashboard {
  flex-wrap: wrap;
}

.table__dashboard {
  width: 100%;

}

.field_semester {
  display: none;
}


option:first {
  color: var(--primary);
}

.error_name,
.error_lastname,
.error_regnum,
.error_gender,
.error_role,
.error_regnum_length,
.error_semester,
.error_regnum_numbers,
.error_email,
.error_password,
.error_length_password,
.error_title,
.error_desc,
.error_teacher,
.error_semester {
  display: none;
  color: red;
  font-size: 1.2rem;
  margin-top: -15px;
}

.show {
  display: block;
  margin-bottom: 5px;
}

.dashboard_profile {
  display: flex;
  flex-basis: 83%;
}

.form__profile {
  display: flex;
  flex-direction: column;
  width: 35%;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  padding: 1rem 2rem;
}

.profile__statistics {
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.statistics__container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1rem;
}

.statistics__box {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 25rem;
  height: 12rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "icon title"
    "icon number";
  column-gap: 2px;
}

.box__image{
  grid-area: icon;
  align-self: center;
  width: 7rem;
  height: 7rem;
}

.box__title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
}

.box__number {
  grid-area: number;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-dark);

}

.profile__table {
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.class__container{
  width: 100%;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.red {
  color: red;
}

.green {
  color:green;
}

.success {
  width:max-content;
  text-align: center;
  padding: 5px;
  background-color: green;
  color: var(--text-light);
  margin: 1rem auto;
}
